.artwork-similarity-page {
  padding: 0px;
  width: 80%;
  margin: 0px auto;
  /* background: pink; */
}

.datasource {
  color: #CCC;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: right;
  font-size: 13px;
  padding-right: 10px;
  font-style: italic;
}

h1 {
  margin-top: 30px;
}

.header {
  position: relative;
}

.menus {
  height: 100%;
  /* background: red; */
  right: 0;
  top: 0;
  position: absolute;
}

.project-description {
  transform: translateY(40%);

  display: block;
  margin-left: 5px;
  /* border: 1px solid black; */
  display: inline-block;
  text-align: center;
  line-height: 30px;
  float: right;
  background: black;
  color: white;
  padding: 0px 10px;
  text-decoration: none;
}

.project-description:hover {
  background: #333;
}

.form {
  font-size: 20px;
}

.form .dropdown {
  margin-left: 20px;
}

.form select {
  border: 1px solid;
  margin-left: 10px;
  padding: 5px;
}

.form input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #555;
  width: 100%;
}

.form button {
  float: right;
  margin-top: 5px;
  border: 2px solid;
  padding: 5px 10px;
  cursor: pointer;
}

.form button:hover {
  background: black;
  color: white;
}

.artwork-list {
  /* background: gray; */
  padding: 5px;
  list-style: none;
}

.artwork-list li {
  margin-bottom: 5px;
  border: 2px solid;
  padding: 10px;
}

.artwork {
  /* background: green; */
  float: left;
  width: 40%;
  overflow:hidden;
  height: auto;
  text-align: center;
}

.artwork-img {
  margin: 40px 40px 0 40px;
  border: 1px dashed #BBB;
  width: 80%;
}

.artwork-details {
  width: 100%;
  /* background: red; */
  padding: 0px 5px;
  text-align: left;
}

.clear {
  clear: both;
}


.sim-panel {
  float: left;
  width: 60%;
  padding: 5px;
}

.sim-panel .title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.sim-list {
  /* background: yellow; */
  margin-top: 5px;
  list-style: none;
  padding: 0px;
}

.sim-list li {
  border: 0px;
  border-top: 2px solid gray;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}

.sim-img {
  float: left;
  width: 25%;
  border: 1px dashed #bbb;
}

.sim-details {
  float: left;
  margin-left: 5px;
  max-width: 60%;
}

.sim-details h3 {
  margin: 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 140px;
}

.sim-details .manipulate {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: red;
  padding: 0 5px;
  font-size: 12px;
}

.sim-score {
  position: absolute;
  display: block;
  /* height: 100%; */
  /* background: red; */
  line-height: 100%;
  text-align: right;
  right: 10px;
  top: 10px;
}

.sim-score .score {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
